.radio-line{
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
}
.form-name{
    margin-top: 50px;
    border : 1px solid black;
    padding: 50px;
    background-color: azure;
}
.submit-btn{
    text-align: center;
    margin-top: 30px;
}